.container{
  width: 80%;
}

.header h1, .header p{
  padding-top: 20px;
  text-align: center;
}

.header{
  height: 180px;
}

.php, .csharp, .java, .css, .result, .result2{
  display: none;
}

ul {
  list-style-type: none;
}

li{
  padding-left: 0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.pleaseFillOut{
  text-align: center
}

.course-list{
  text-align: center;
}
