.container{
  width: 80%;
}

.header h1, .header p{
  padding-top: 30px;
  text-align: center;
}

.header{
  border-radius: 10px;
  background-color: #e1e6ef;
  height: 180px;
}

.php, .csharp, .java, .css, .result, .result2{
  display: none;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.pleaseFillOut{
  text-align: center
}

.course-list{
  text-align: center;
}

.underHeader{
  font-size: 15px;
}

label{
  color: #72767c;
}
