.container{
  width: 80%;
}

.header h1, .header p{
  padding-top: 20px;
  text-align: center;
}

.header{
  border: 1px solid red;
  height: 180px;
}

.php, .csharp, .java, .css, .result{
  display: none;
}

ul {
  list-style-type: none;
}
li{
  padding-left: 0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
